---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-[#111322] min-h-screen flex flex-col">
		<Header />
		<main class="grow flex flex-col">
			<section class="py-[32px] lg:py-[60px]">
				<h2 class="text-xl lg:text-4xl text-[#FFF] text-center mb-[24px] lg:mb-[32px] px-[20px]">WORK PROJECTS</h2>
				<p class="text-sm lg:text-base text-[#FFF] font-thin max-w-[600px] text-center mx-auto mb-[32px] lg:mb-[60px] px-[20px]">
					Below, you will find a selection of real projects in which I have actively participated,
					showcasing my professional expertise and contributions within various domains.
				</p>
				<div class="flex flex-col gap-[32px] lg:gap-[60px]">
					<div class="grow grid grid-cols-3 w-full">
						<div class="flex flex-col items-center justify-center py-[32px] lg:py-[60px] col-span-3 lg:col-span-1">
							<a href="https://expertsgo.com/" target="_blank">
								<h3 class="text-[#FFF] flex text-xl lg:text-3xl">
									<span>Experts</span>
									<span class="font-thin">Go</span>
								</h3>
							</a>
						</div>
						<div class="p-[20px] lg:p-[32px] rounded-l-full bg-[#FFF] col-span-3 lg:col-span-2">
							<div class="border-[1px] border-[#EFF1F5] rounded shadow-2xl">
								<div class="px-[16px] py-[8px] bg-[#EFF1F5]">
									<div class="flex gap-[4px]">
										<span class="block w-[10px] h-[10px] rounded-full bg-[#D92D20]"></span>
										<span class="block w-[10px] h-[10px] rounded-full bg-[#FEC84B]"></span>
										<span class="block w-[10px] h-[10px] rounded-full bg-[#12B76A]"></span>
									</div>
								</div>
								<img src="/images/ExpertsGo.jpeg" alt="ExpertsGo Sign Up">
							</div>
						</div>
					</div>
					<div class="grow grid grid-cols-3 w-full">
						<div class="p-[20px] lg:p-[32px] rounded-r-full bg-[#FFF] col-span-3 lg:col-span-2 row-start-2 lg:row-start-auto">
							<div class="border-[1px] border-[#EFF1F5] rounded shadow-2xl">
								<div class="px-[16px] py-[8px] bg-[#EFF1F5]">
									<div class="flex gap-[4px]">
										<span class="block w-[10px] h-[10px] rounded-full bg-[#D92D20]"></span>
										<span class="block w-[10px] h-[10px] rounded-full bg-[#FEC84B]"></span>
										<span class="block w-[10px] h-[10px] rounded-full bg-[#12B76A]"></span>
									</div>
								</div>
								<img src="/images/Film5000.jpeg" alt="ExpertsGo Sign Up">
							</div>
						</div>
						<div class="flex flex-col items-center justify-center py-[32px] lg:py-[60px] col-span-3 lg:col-span-1">
							<a href="https://www.film5000.com/" target="_blank">
								<h3 class="text-[#FFF] flex text-xl lg:text-3xl">
									<span>Film</span>
									<span class="font-thin">5000</span>
								</h3>
							</a>
						</div>
					</div>
				</div>

			</section>
		</main>
		<Footer />
	</body>
</html>
<style>
	html, body {
		overscroll-behavior: none;
	}
</style>