---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import RightProjectShowcase from '../components/RightProjectShowcase.astro';
import LeftProjectShowcase from '../components/LeftProjectShowcase.astro';
import Testimonial from '../components/Testimonial.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen flex flex-col">
		<Header />
		<main class="grow flex flex-col">
			<section class="py-[32px] lg:py-[60px]">
				<h2 class="text-xl lg:text-4xl text-[#FFF] text-center mb-[24px] lg:mb-[32px] px-[20px]">WORK EXPERTISE</h2>
				<p class="text-sm lg:text-base text-[#FFF] font-thin max-w-[600px] text-center mx-auto mb-[32px] lg:mb-[60px] px-[20px]">
					Below, you will find a selection of real projects in which I, as a skilled <b>fullstack developer</b>,
					have participated, showcasing my professional expertise and contributions within various domains.
				</p>
				<div class="flex flex-col gap-[32px] lg:gap-[60px]">
					<RightProjectShowcase
						imgSrc="/images/ExpertsGo.jpeg"
						imgAlt="ExpertsGo signup"
						href="https://expertsgo.com/"
					>
						<a href="https://expertsgo.com/" target="_blank" class="flex flex-col items-center text-center mb-[16px]">
							<h3 class="text-[#FFF] flex text-xl lg:text-3xl">
								<span>Experts</span>
								<span class="font-thin">Go</span>
							</h3>
						</a>
						<p class="text-[#FFF] font-thin inline mx-auto w-full px-[32px] text-center">
							Owned by <b>Liz Peterson</b>, and designed by 
							<a href="https://leonardo.do/" target="_blank" class="inline text-[#FFF] font-bold cursor-pointer">Leonardo Jiménez</a>,
							and developed by me, ExpertsGo is a platform that connects Engineers with companies looking for their expertise.
						</p>
					</RightProjectShowcase>
					<!-- <Testimonial imgSrc="/images/LizPeterson.jpeg" alias="Liz Peterson, ExpertsGo">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum justo sed mauris
						pharetra, eget sollicitudin dui rutrum. Fusce id purus sed felis aliquam tristique nec sit amet elit.
					</Testimonial> -->
					<LeftProjectShowcase
						imgSrc="/images/Film5000.jpeg"
						imgAlt="Film500 homepage"
						href="https://www.film5000.com/"
						imgLoading="lazy"
					>
						<a href="https://www.film5000.com/" target="_blank" class="flex flex-col items-center text-center mb-[16px]">
							<h3 class="text-[#FFF] flex text-xl lg:text-3xl">
								<span>Film</span>
								<span class="font-thin">5000</span>
							</h3>
						</a>
						<p class="text-[#FFF] font-thin inline mx-auto w-full px-[32px] text-center">
							Originally designed by <b>Raj Kottamasu</b>, built by <b>Matthew Skomarovsky</b>, redesigned by
							<a href="https://leonardo.do/" target="_blank" class="inline text-[#FFF] font-bold cursor-pointer">Leonardo Jiménez</a>,
							and mantained by me, Film5000 is the personal blog of <b>Ian Anthony Brownell</b> a movie producter, and director.
						</p>
					</LeftProjectShowcase>
					
					<!--
					<Testimonial imgSrc="/images/IanBrownell.jpeg" alias="Ian Brownell, Film5000">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum justo sed mauris
						pharetra, eget sollicitudin dui rutrum. Fusce id purus sed felis aliquam tristique nec sit amet elit.
					</Testimonial>
					<div class="container mx-auto px-[20px]">
						<hr class="border-[#717BBC55]">
					</div>
					-->
					<RightProjectShowcase
						imgSrc="/images/LaMare.jpeg"
						imgAlt="LaMare hompage"
						href="https://lamarebayharbor.com/"
						imgLoading="lazy"
					>
						<a href="https://lamarebayharbor.com/" target="_blank" class="flex flex-col items-center text-center mb-[16px]">
							<h3 class="text-[#FFF] flex text-xl lg:text-3xl">
								<span>La</span>
								<span class="font-thin">Maré</span>
							</h3>
						</a>
						<p class="text-[#FFF] font-thin inline mx-auto w-full px-[32px] text-center">
							The oficial site of <b>La Maré Bay Harbor</b>, designed by
							<a href="https://cosoc.co/" target="_blank" class="inline text-[#FFF] font-bold cursor-pointer">Bin Huang</a> (CEO of CO.SOC.),
							and built by me, La Maré Bay Harbor is a luxury waterfront development in Bay Harbor Islands, Florida.
						</p>
					</RightProjectShowcase>
					<Testimonial imgSrc="/images/BinHuang.webp" imgAlt="Bin Huang" alias="Bin Huang, CEO of CO.SOC.">
						Nahum is a great well-versed developer. I’ve worked with him on multiple projects across various platforms.
						He understands the briefs clearly and execute with precision and efficiency. He’s knowledgeable and persistent.
						Overall, Nahum is an excellent developer to work with for any designers or end-clients.
					</Testimonial>
				</div>

			</section>
		</main>
		<Footer />
	</body>
</html>