---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import RightProjectShowcase from '../components/RightProjectShowcase.astro';
import LeftProjectShowcase from '../components/LeftProjectShowcase.astro';
import Testimonial from '../components/Testimonial.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="min-h-screen flex flex-col">
		<Header />
		<main class="grow flex flex-col">
			<section class="py-[32px] lg:py-[60px]">
				<h2 class="text-xl lg:text-4xl text-[#FFF] text-center mb-[24px] lg:mb-[32px] px-[20px]">WORK EXPERTICE</h2>
				<p class="text-sm lg:text-base text-[#FFF] font-thin max-w-[600px] text-center mx-auto mb-[32px] lg:mb-[60px] px-[20px]">
					Below, you will find a selection of real projects in which I, as a skilled <b>fullstack developer</b>,
					have actively participated, showcasing my professional expertise and contributions within various domains.
				</p>
				<div class="flex flex-col gap-[32px] lg:gap-[60px]">
					<RightProjectShowcase
						imgSrc="/images/ExpertsGo.jpeg"
						imgAlt="ExpertsGo signup"
					>
						<a href="https://expertsgo.com/" target="_blank" class="flex flex-col items-center text-center mb-[16px]">
							<h3 class="text-[#FFF] flex text-xl lg:text-3xl">
								<span>Experts</span>
								<span class="font-thin">Go</span>
							</h3>
						</a>
						<p class="text-[#FFF] font-thin inline mx-auto w-full px-[32px] text-center">
							Owned by <b>Liz Peterson</b>, and designed by 
							<a href="https://leonardo.do/" target="_blank" class="inline text-[#FFF] font-bold cursor-pointer">Leonardo Jiménez</a>,
							and development by me, ExpertsGo is a platform that connects Engineers with companies looking for their expertise.
						</p>
					</RightProjectShowcase>
					<!-- <Testimonial imgSrc="/images/LizPeterson.jpeg" alias="Liz Peterson, ExpertsGo">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum justo sed mauris
						pharetra, eget sollicitudin dui rutrum. Fusce id purus sed felis aliquam tristique nec sit amet elit.
					</Testimonial> -->
					<LeftProjectShowcase
						imgSrc="/images/Film5000.jpeg"
						imgAlt="Film500 homepage"
						flip={true}
					>
						<a href="https://www.film5000.com/" target="_blank" class="flex flex-col items-center text-center mb-[16px]">
							<h3 class="text-[#FFF] flex text-xl lg:text-3xl">
								<span>Film</span>
								<span class="font-thin">5000</span>
							</h3>
						</a>
						<p class="text-[#FFF] font-thin inline mx-auto w-full px-[32px] text-center">
							Originally designed by <b>Raj Kottamasu</b>, built by <b>Matthew Skomarovsky</b>, redesigned by
							<a href="https://leonardo.do/" target="_blank" class="inline text-[#FFF] font-bold cursor-pointer">Leonardo Jiménez</a>,
							and mantained by me, Film5000 is the personal blog of <b>Ian Anthony Brownell</b> a movie producter, and director.
						</p>
					</LeftProjectShowcase>
					<!-- <Testimonial imgSrc="/images/IanBrownell.jpeg" alias="Ian Brownell, Film5000">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum justo sed mauris
						pharetra, eget sollicitudin dui rutrum. Fusce id purus sed felis aliquam tristique nec sit amet elit.
					</Testimonial> -->
					<RightProjectShowcase
						imgSrc="/images/AndrosHome.jpeg"
						imgAlt="Andros hompage"
					>
						<a href="https://androshome.com/" target="_blank">
							<h3 class="text-[#FFF] flex text-xl lg:text-3xl">
								<span>Andros</span>
								<span class="font-thin">Home</span>
							</h3>
						</a>
					</RightProjectShowcase>
					<!-- <Testimonial imgSrc="/images/IanBrownell.jpeg" imgAlt="Ian Brownell">
						
					</Testimonial> -->
				</div>

			</section>
		</main>
		<Footer />
	</body>
</html>