---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import RightProjectShowcase from '../components/RightProjectShowcase.astro';
import LeftProjectShowcase from '../components/LeftProjectShowcase.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-[#111322] min-h-screen flex flex-col">
		<Header />
		<main class="grow flex flex-col">
			<section class="py-[32px] lg:py-[60px]">
				<h2 class="text-xl lg:text-4xl text-[#FFF] text-center mb-[24px] lg:mb-[32px] px-[20px]">WORK PROJECTS</h2>
				<p class="text-sm lg:text-base text-[#FFF] font-thin max-w-[600px] text-center mx-auto mb-[32px] lg:mb-[60px] px-[20px]">
					Below, you will find a selection of real projects in which I have actively participated,
					showcasing my professional expertise and contributions within various domains.
				</p>
				<div class="flex flex-col gap-[32px] lg:gap-[60px]">
					<RightProjectShowcase
						imgSrc="/images/ExpertsGo.jpeg"
						imgAlt="ExpertsGo signup"
					>
						<a href="https://expertsgo.com/" target="_blank">
							<h3 class="text-[#FFF] flex text-xl lg:text-3xl">
								<span>Experts</span>
								<span class="font-thin">Go</span>
							</h3>
						</a>
					</RightProjectShowcase>
					<LeftProjectShowcase
						imgSrc="/images/Film5000.jpeg"
						imgAlt="Film500 homepage"
						flip={true}
					>
						<a href="https://www.film5000.com/" target="_blank">
							<h3 class="text-[#FFF] flex text-xl lg:text-3xl">
								<span>Film</span>
								<span class="font-thin">5000</span>
							</h3>
						</a>
					</LeftProjectShowcase>
				</div>

			</section>
		</main>
		<Footer />
	</body>
</html>
<style>
	html, body {
		overscroll-behavior: none;
	}
</style>