---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-[#111322]">
	<div class="container mx-auto w-full px-[20px] py-[16px] origin-left">
		<a href="/" class="flex text-base lg:text-lg no-underline">
			<span class="text-[#FFFFFF] no-underline font-semibold">Nahum</span>
			<span class="text-[#FFFFFF] no-underline font-thin">Santana</span>
		</a>
	</div>
</header>