---
---
<header class="bg-[#111322]">
	<div class="container mx-auto w-full px-[20px] py-[16px] origin-left flex items-center">
		<a href="/" class="flex text-base lg:text-lg no-underline items-center">
			<img width="32" height="32" src="/favicon.svg" class="mr-[1px] w-[24px] h-[24px] lg:w-[32px] lg:h-[32px]" />
			<span class="block text-[#FFFFFF] leading-[0.6] no-underline font-semibold">ahum</span>
			<span class="block text-[#FFFFFF] leading-[0.6] no-underline font-thin">Santana</span>
		</a>

		<a href="/blog" class="ml-auto text-[#FFF] cursor-pointer hover:underline text-xs">
			Blog
		</a>
	</div>
</header>