---
const { imgSrc, imgAlt, alias } = Astro.props;
---
<div class="px-[20px max-w-[800px] mx-auto w-full py-[60px] flex flex-col gap-[8px] items-center">
    <div class="w-[60px] h-[60px] rounded-full bg-[#404968] overflow-hidden">
        { imgSrc  && <img src={imgSrc} alt={imgAlt}> }
    </div>
    <span class="font-bold  text-2xl text-[#FFF]">{ alias }</span>
    <q class="text-3xl text-[#FFF] text-center font-thin">
        <slot></slot>
    </q>
</div>