
/* GENERAL VARS*/
$global-spacing: 0.25rem;
$global-minmax-spacing: 1rem;

/* OTHER COLORS*/
$global-color-red: #d81e5b;
$global-color-green: #8fce00;
$global-color-blue: #93c4ff;

/* PRIMARY COLORS */
$global-primary-color: #424242;
$global-primary-color-dark: #2e2d2d;
$global-primary-color-light: #6d6d6d;

/* SECONDARY COLORS */
$global-secondary-color: #ffcc80;
$global-secondary-color-dark: #ca9b52;
$global-secondary-color-light: #ffffb0;

/* TEXT COLORS*/
$global-text-color-light: #ffffff;
$global-text-color-dark: #212121;

/* BREAKPOINTS */
$global-breakpoint-sm: 768px;
$global-breakpoint-md: 1024px;
$global-breakpoint-lg: 1200px;
